@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #f3f4f6;
  --foreground: #010221;
}

body {
  color: var(--foreground);
  background: var(--background);
  box-sizing: border-box;
  overflow-x: hidden;
  background-repeat: no-repeat;
  background-attachment: fixed;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  font-size: 16px;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
}

* {
  box-sizing: border-box;
  font-style: normal;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 0;
}

*::before,
*::after {
  box-sizing: border-box;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 0;
}
